*
!public/
!public/uploads/
!public/uploads/*.*
!public/uploads/agenda/
!public/uploads/agenda/*.*
!public/uploads/file/
!public/uploads/file/*.*
!public/uploads/sliders/
!public/uploads/sliders/*.*
!public/uploads/infografis/
!public/uploads/infografis/*.*
!public/uploads/pendaftaran/
!public/uploads/pendaftaran/*.*
!public/uploads/pendaftaran/sertifikat/
!public/uploads/pendaftaran/sertifikat/*.*
!public/uploads/pendaftaran/surat-lamaran/
!public/uploads/pendaftaran/surat-lamaran/*.*
!public/uploads/pimpinan/
!public/uploads/pimpinan/*.*
!.gitignore
!youtube.json
!cuaca.json