*
!public/
!public/uploads/
!public/uploads/file
!public/uploads/sliders
!public/uploads/sliders/dsw.png
!public/uploads/sliders/puskesmas.png
!public/uploads/sliders/sigap.png
!public/uploads/infografis
!public/uploads/pendaftaran
!public/uploads/sertifikat
!public/uploads/surat-lamaran
!.gitignore
!youtube.json
